@{
    ViewData["Title"] = "Quoting Dojo";
}
<h2>Here are some awesome quotes!</h2>
@{
    @for(int i = 0; i < @ViewBag.allquotes.Count; i++)
    {
        <p>
            @ViewBag.allquotes[i]["quote"]
        </p>
        <p>
            - @ViewBag.allquotes[i]["name"]
        </p>
    }
}